<div class="Main">
  <ng-container *ngIf="!showOtpTyping">
    <div class="TypesOption">

  <div class="dropdown" (click)="toggleDropdown()">
    <span>{{ selectedAdmin || 'Select Type' }}</span>
    <div class="arrow" [class.open]="dropdownOpen"></div>
  </div>

  <ul *ngIf="dropdownOpen" class="dropdown-list">
    <li *ngFor="let type of admin" (click)="selectAdmin(type)">
      {{ type }}
    </li>
  </ul>
</div>
  </ng-container>

  
     <div class="FormForPassword">


   
            <div class="imgLockPos">
               <img src="../../assets/unlock.png" class="imgLock" alt="">
            </div>
            <div class="MainDetails">
                   <ng-container *ngIf="!showOtpTyping">

                       <div class="ResetText">Reset Password</div>
            <div class="subText">Enter your Email to reset the password</div>
            
              <div class="labelText">Email Address</div>


                <input *ngIf="selectedAdmin=='JobSeeker'" 
                type="email" class="InputStyle"  [(ngModel)]="emailVal"
                placeholder="Enter your email ">

 <input  *ngIf="selectedAdmin=='Employer'" 
       type="email" [(ngModel)]="emailVal"
        class="InputStyle" placeholder="Enter your work email ">

       <div
    class="errorText"
    *ngIf="emailVal && !isEmailValid()">
    Enter correct email format
  </div>
               <button
    (click)="CallResetPassword()"
    class="BtnReset"
    [disabled]="!isEmailValid()"
  >
    Reset Password
  </button>
 </ng-container>
               
  <ng-container *ngIf="showOtpTyping && !showResetPassword" >
    <div class="ResetText2">Enter the OTP </div>
   
   <input
    type="text"
   [(ngModel)]="otpNumber"
    class="InputStyleOtp"
    placeholder="Enter 6-digit OTP"
    maxlength="6"
    (input)="otpForm.get('otpNumber')?.markAsTouched()" 
  />
  br
  <div *ngIf="otpForm.get('otpNumber')?.invalid && otpForm.get('otpNumber')?.touched" class="errorOtp">
    Enter a valid 6-digit OTP
  </div>

  <button 
   class="BtnOtp"
    (click)="enterOtpNumber()"
    [disabled]="!isOtpValid()">
    Verify OTP
  </button>

  </ng-container>

<ng-container *ngIf="showResetPassword">

  <div class="ResetText3">ResetPassword</div>

  <div class="labelText2">Enter Password</div>
  <input
    type="password"
    class="InputStylePassword"
    placeholder="enter new password"
    [formControl]="passwordControl"
  />
  <div *ngIf="passwordControl.invalid && passwordControl.touched">
    <div class="passErrorReq" *ngIf="passwordControl.errors?.['required']">
      Password is required
    </div>
    <div class="passError6ch" *ngIf="passwordControl.errors?.['minlength']">
      Password must be at least 6 characters
    </div>
  </div>

  <div class="labelText3">Confirm Password</div>
  <input
    type="password"
    class="InputStyleConfirmPassword"
    placeholder="confirm password"
    [formControl]="confirmPasswordControl"
  />
  <div *ngIf="resetForm.errors?.['mismatch'] && confirmPasswordControl.touched" class="passError">
    Passwords do not match
  </div>

  <button class="BtnPass" (click)="onSubmit()" [disabled]="resetForm.invalid">
    Submit
  </button>

</ng-container>

  <!-- below div is for showing loading page -->
            </div>
        <div class="ForShowingLoadingPage" *ngIf="loadingService.loading$ | async">
  <svg
    class="container"
    viewBox="0 0 40 40"
    height="40"
    width="40"
  >
    <circle 
      class="track"
      cx="20" 
      cy="20" 
      r="17.5" 
      pathlength="100" 
      stroke-width="5px" 
      fill="none" 
    />
    <circle 
      class="car"
      cx="20" 
      cy="20" 
      r="17.5" 
      pathlength="100" 
      stroke-width="5px" 
      fill="none" 
    />
  </svg>
</div>
     </div>

</div>
   
